<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Evaluation with AJAX</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery CDN -->
</head>
<body>
    <h1>Record your voice</h1>


    <!-- 텍스트 입력 필드 추가 -->
    <textarea id="textInput" placeholder="Enter text for analysis..."></textarea>
    <button id="recordButton">Start Recording</button>
    <button id="stopButton" disabled>Stop Recording</button>
    <audio id="audioPlayback" controls></audio>
    <canvas id="resultChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='hispeech.js') }}"></script>
</body>
</html>
